.content{
    background-color: bisque;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
}
.knopka{
    color:#1a0dab;
    border-radius: 15px;
    width: 300px;
    height:30px ;
}
@media screen and (max-width:600px) {
    .content{
        display: block;
		font-weight: bold;
        font-family: Tahoma;
        background-color: aqua;
    }
}


@media screen and (min-width:601px)and (max-width:1099px) {
    .content{
        display:inline-block;
		width: 33%;
        font-size: 18px;
        font-family: Arial;
        background-color: burlywood;
    }

}

@media screen and (min-width:1100px){
    .content{
        display: inline-block;
		width: 400px;
        font-size: 22px;
        font-family: Monotype monospace;
       
    }

}